.about {
    width: 100%;
    min-height: 100vh;

    background-image: linear-gradient(150deg,
            #001E2B,
            #023430,
            #00684A);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
}

.about-content {

    color: #E8F6F3;

    display: flex;
    flex-direction: column;

    width: 900px;
    max-width: 95%;

    text-align: center;

    gap: 20px;
}

.about-content h1 {

    color: #00ED64;

    text-shadow: 0px 0px 4px white;

    font-style: italic;
}

.about-content h2 {

    margin-top: 20px;

    color: #00ED64;
}

.about-intro span {

    color: #00ED64;

    font-weight: bold;
}

.about-card {

    background: rgba(0, 237, 100, 0.08);

    border-radius: 16px;

    padding: 15px;

    border: 1px solid rgba(0, 237, 100, 0.25);

    backdrop-filter: blur(5px);

    width: 400px;

    max-width: 100%;

    margin: auto;
}

/* Certificates */

.certificate-container {

    display: flex;

    flex-wrap: wrap;

    justify-content: center;

    gap: 30px;

    margin-top: 10px;
}

.certificate-card {

    width: 220px;

    background: rgba(0, 237, 100, 0.08);

    border-radius: 16px;

    padding: 15px;

    border: 1px solid rgba(0, 237, 100, 0.25);

    backdrop-filter: blur(5px);

    transition: .3s;
}

.certificate-card:hover {

    transform: translateY(-5px);

    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

.certificate-card img {

    width: 100%;

    border-radius: 10px;
}

.certificate-card p {

    margin-top: 10px;
}

/* Expertise */

.expertise-container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

    justify-content: center;
}

.expertise-card {

    background: rgba(0, 237, 100, 0.08);

    padding: 10px 20px;

    border-radius: 30px;

    border: 1px solid rgba(0, 237, 100, 0.25);

    transition: .3s;
}

.expertise-card:hover {

    background: #00ED64;

    color: #001E2B;

    cursor: pointer;
}

/* Modal */

.modal {

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(0, 0, 0, 0.8);

    display: flex;

    justify-content: center;

    align-items: center;

    z-index: 1000;

    animation: fadeIn .3s;
}

.modal-content {

    position: relative;

    width: 700px;

    max-width: 90%;

    background: #001E2B;
    color: #E8F6F3;
    padding: 20px;

    border-radius: 15px;

    border: 1px solid #00ED64;
}

.modal-content img {

    width: 100%;

    border-radius: 10px;
}

.close {

    position: absolute;

    top: -9px;

    right: 3px;

    font-size: 30px;

    color: white;

    cursor: pointer;

    transition: .3s;
}

.close:hover {

    color: #00ED64;

    transform: scale(1.2);
}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}